.btn-primary {
    background-color: #F8BA21 !important;
    border: 0px !important;
}


@media only screen and (max-width: 991px) {
    #btn-cerrar {
        display: none;
    }
}

.toggle-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #112D53;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #ccc;
}

.toggle-bar:hover {
    background-color: #F8BA21;
    color: #112D53;
}

.toggle-content {
    display: none;
    margin-bottom: 10px;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.5);
}

.contenedor-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 75px;
}

.contenedor-2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.contenedor-3 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.nav-link .active {
    color: #F8BA21;
}

.navbar {
    padding-top: 20px;
    background-color: #112D53 !important;
}

.navbar a {
    color: #ffffff;
    font-size: large;
}

.navbar a:hover {
    color: #F8BA21;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard{
    margin-top: 100px;

    display: flex;
    width: 100%;

justify-content: center;

}
.sangria-dash{
    margin-left:15px;
}
#contenedor-dashboard{
    display: flex;
    justify-content: center;
    width: 100%;

    align-items: center;
}
@media only screen and (max-width: 700px) {
    #form1{
        width: 90%;
    }
}
@media only screen and (min-width: 701px) and  (max-width: 1000px) {
    #form1{
        width: 70%;
    }
}
@media only screen and (min-width: 10001px) {
    #form1{
        width: 80%;
    }
}

